<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="18.1.0" targetFramework="net461" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="Netco" version="1.5.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.0.60" targetFramework="net461" />
</packages>